@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-clr: #d8e2dc;
  --typo-clr: #fec89a;
  --blue-clr: #d8e2dc;
  --pink-clr: #fec5bb;
}

body {
  background-color: var(--body-clr);
  color: #495057;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
